glfw==2.10.0
glfw==2.9.0
multiprocess==0.70.18
protobuf==5.29.6
diffusion_policy==0.0.0
bitsandbytes==0.48.2
gymnasium==0.29.1
wheel==0.45.1
termcolor==3.1.0
etils==1.5.1
importlib_metadata==8.7.1
importlib_metadata==8.7.0
rich==14.3.2
moviepy==2.2.1
arm_pytorch_utilities==0.4.3
opentelemetry-proto==1.39.1
fasteners==0.20
requests-oauthlib==2.0.0
prompt_toolkit==3.0.52
prompt_toolkit==3.0.51
tyro==1.0.5
google-auth==2.49.0.dev0
mujoco-py==2.1.2.14
h11==0.16.0
chex==0.1.90
google-api-core==2.30.0
nvidia-cuda-nvcc-cu12==12.9.86
trimesh==4.11.1
seaborn==0.13.2
tensorstore==0.1.69
xyzservices==2025.11.0
distro==1.9.0
nvidia-ml-py==13.590.48
Werkzeug==3.1.5
importlib_resources==6.5.2
pyproject_hooks==1.2.0
pyvers==0.1.0
cryptography==46.0.5
flatbuffers==25.12.19
robomimic==0.3.0
einops==0.8.2
aiofiles==23.2.1
opt_einsum==3.4.0
ptyprocess==0.7.0
ipython==8.18.1
matplotlib==3.9.4
ollama==0.1.6
pickleshare==0.7.5
asttokens==3.0.0
asttokens==3.0.1
nvidia-cublas-cu12==12.9.1.4
llvmlite==0.43.0
GitPython==3.1.46
frozenlist==1.8.0
MarkupSafe==3.0.2
httpx==0.28.1
asgiref==3.11.0
dill==0.4.0
torch==2.5.1
cloudpickle==3.1.2
certifi==2025.10.5
opentelemetry-semantic-conventions==0.60b1
tokenizers==0.22.2
sympy==1.13.1
pip==26.0.1
opentelemetry-instrumentation-fastapi==0.60b1
scikit-image==0.24.0
mmh3==5.2.0
Jinja2==3.1.6
optax==0.2.4
durationpy==0.10
eval_type_backport==0.3.1
tornado==6.5.2
python-dateutil==2.9.0.post0
google-auth-httplib2==0.3.0
gmpy2==2.2.1
tqdm==4.67.2
absl-py==2.3.1
hydra-core==1.3.2
brotlicffi==1.0.9.2
mkl_random==1.2.8
pyasn1==0.6.2
websocket-client==1.9.0
python-multipart==0.0.6
contourpy==1.3.0
opentelemetry-sdk==1.39.1
jedi==0.19.2
iniconfig==2.1.0
aiosignal==1.4.0
Cython==0.29.37
ml_dtypes==0.5.4
Markdown==3.9
traitlets==5.14.3
bcrypt==5.0.0
zarr==2.18.2
decorator==5.2.1
nltk==3.9.2
pexpect==4.9.0
annotated-types==0.7.0
gitdb==4.0.12
idna==3.11
exceptiongroup==1.3.1
exceptiongroup==1.3.0
tenacity==9.1.2
coloredlogs==15.0.1
pyarrow==21.0.0
nvidia-cufft-cu12==11.4.1.4
nvidia-cusolver-cu12==11.7.5.82
aiohappyeyeballs==2.6.1
setuptools==80.9.0
google-ai-generativelanguage==0.6.15
pytest==8.4.2
numcodecs==0.12.1
zipp==3.23.0
pillow==11.3.0
packaging==25.0
h5py==3.14.0
tzdata==2025.3
urllib3==2.5.0
google-api-python-client==2.190.0
opentelemetry-exporter-otlp-proto-grpc==1.39.1
labmaze==1.0.6
bokeh==3.4.3
torchdiffeq==0.2.5
torchvision==0.20.1
D4RL==1.1
tensordict==0.10.0
jax-cuda12-pjrt==0.4.30
pyparsing==3.3.2
sentencepiece==0.2.1
jupyter_client==8.6.3
mjrl==1.0.0
comm==0.2.3
jaxlib==0.4.30
dm_control==1.0.28
hf-xet==1.2.0
soundfile==0.13.1
plotly==6.5.2
sapien==3.0.0b1
markdown-it-py==3.0.0
overrides==7.7.0
jax-cuda12-plugin==0.4.30
mink==0.0.5
lxml==6.0.2
scipy==1.13.1
flax==0.8.5
mpmath==1.3.0
huggingface_hub==0.36.1
humanfriendly==10.0
aiohttp==3.13.3
ImageIO==2.37.2
attrs==25.4.0
triton==3.1.0
httpcore==1.0.9
pyasn1_modules==0.4.2
typer==0.21.1
nvidia-cuda-cupti-cu12==12.9.79
pyzmq==27.0.2
jupyter_core==5.8.1
httplib2==0.31.2
networkx==3.2.1
distrax==0.1.5
six==1.17.0
proto-plus==1.27.1
gym==0.23.1
fast_kinematics==0.2.2
gym-notices==0.1.0
chromadb==0.4.22
matplotlib-inline==0.2.1
matplotlib-inline==0.1.7
Farama-Notifications==0.0.4
loguru==0.7.3
fsspec==2025.7.0
sniffio==1.3.1
egl_probe==1.0.2
psutil==7.0.0
psutil==7.2.2
humanize==4.13.0
watchfiles==1.1.1
pulsar-client==3.8.0
pure_eval==0.2.3
pydantic_core==2.41.5
typing_extensions==4.15.0
comp_diff==0.1.0
pynvml==13.0.1
dm-tree==0.1.8
antlr4-python3-runtime==4.9.3
pytz==2025.2
cffi==2.0.0
pycparser==2.23
nvidia-cusparse-cu12==12.5.10.65
nest_asyncio==1.6.0
async-timeout==5.0.1
smmap==5.0.2
uvicorn==0.27.0
httptools==0.7.1
backoff==2.2.1
jax==0.4.30
posthog==6.9.3
mdurl==0.1.2
starlette==0.35.1
orbax-checkpoint==0.6.4
debugpy==1.8.16
typing-inspection==0.4.2
aiosqlite==0.19.0
toolz==1.1.0
nvidia-nvjitlink-cu12==12.9.86
numpy==1.26.4
ml_collections==0.1.1
opentelemetry-api==1.39.1
datasets==4.5.0
propcache==0.4.1
shellingham==1.5.4
SQLAlchemy==2.0.25
xxhash==3.6.0
sentry-sdk==2.51.0
tabulate==0.9.0
pluggy==1.6.0
multidict==6.7.1
pandas==2.3.3
wandb==0.24.1
PyOpenGL==3.1.10
greenlet==3.2.4
sentence-transformers==2.3.1
mujoco==3.3.2
tensorboard==2.20.0
gast==0.7.0
onnxruntime==1.19.2
opentelemetry-instrumentation-asgi==0.60b1
ogbench==1.2.1
regex==2026.1.15
uniaction==0.1.0
typeguard==4.4.4
google-genai==1.47.0
threadpoolctl==3.6.0
orjson==3.11.5
executing==2.2.1
executing==2.2.0
grpcio-status==1.71.2
PySocks==1.7.1
mkl_fft==1.3.11
omegaconf==2.3.0
chroma-hnswlib==0.7.3
fonttools==4.60.2
joblib==1.5.3
nvidia-nccl-cu12==2.29.3
proglog==0.1.12
google-generativeai==0.8.6
rdkit==2025.9.2
narwhals==2.16.0
transforms3d==0.4.2
pyperclip==1.11.0
scikit-learn==1.6.1
lazy_loader==0.4
tensorboardX==2.6.4
safetensors==0.7.0
oauthlib==3.3.1
parso==0.8.4
parso==0.8.5
mani_skill==3.0.0b15
platformdirs==4.4.0
platformdirs==4.3.8
quadprog==0.1.13
pytorch_kinematics==0.7.4
wrapt==1.17.3
fastapi==0.109.0
pynput==1.8.1
PyYAML==6.0.2
nvidia-cudnn-cu12==9.19.0.56
toppra==0.6.3
googleapis-common-protos==1.72.0
evdev==1.9.2
uvloop==0.22.1
requests==2.32.5
mkl-service==2.4.0
qpsolvers==4.8.2
yarl==1.22.0
docstring_parser==0.17.0
charset-normalizer==3.4.4
PyPika==0.51.0
pytorch-seed==0.2.0
grpcio==1.76.0
websockets==15.0.1
uritemplate==4.2.0
filelock==3.17.0
anyio==4.12.1
pydantic==2.12.5
msgpack==1.1.2
cycler==0.12.1
tifffile==2024.8.30
wcwidth==0.2.13
wcwidth==0.5.3
mplib==0.1.1
stack_data==0.6.3
dacite==1.9.2
tomli==2.4.0
imageio-ffmpeg==0.6.0
dm-env==1.6
numba==0.60.0
ipykernel==6.30.1
python-dotenv==1.0.0
click==8.1.8
opentelemetry-instrumentation==0.60b1
opencv-python==4.11.0.86
opentelemetry-exporter-otlp-proto-common==1.39.1
torchaudio==2.5.1
contextlib2==21.6.0
nvidia-cuda-runtime-cu12==12.9.79
asciitree==0.3.3
kiwisolver==1.4.7
robosuite==1.5.2
build==1.4.0
opentelemetry-util-http==0.60b1
tensorflow-probability==0.25.0
accelerate==1.10.1
transformers==4.57.6
kubernetes==35.0.0
python-xlib==0.33
tensorboard-data-server==0.7.2
peft==0.17.1
Pygments==2.19.2
uniaction==0.1.0
wheel==0.45.1
backports.tarfile==1.2.0
autocommand==2.2.2
platformdirs==4.2.2
importlib_metadata==8.0.0
more-itertools==10.3.0
zipp==3.19.2
jaraco.collections==5.1.0
packaging==24.2
jaraco.text==3.12.1
typing_extensions==4.12.2
typeguard==4.3.0
jaraco.context==5.3.0
inflect==7.3.1
jaraco.functools==4.0.1
tomli==2.0.1
